@model Chef
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chefs 'N Dishes</title>
</head>
<body>
    <h1>Chefs | <a href="/dishes">Dishes</a></h1>
    <a href="/new">Add a Chef</a>
    <br>
    <h3>Check out our roster of Chefs!</h3>
    <br>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th># of Dishes</th>
        </tr>
        @foreach (var chef in ViewBag.AllChefs)
        {
        <tr>
            <td>@chef.first_name @chef.last_name</td>
            <td>@chef.Age</td>
            <td>@chef.CreatedDishes.Count</td>
        </tr>
        }
    </table>






    
</body>
</html>